<div class="cb-header-container">
    <div class="cb-header-content">
        <div class="row no-gutters">
            <div class="col-md-5">
                <span><img src="assets/img/z_logo.jpeg" class="cb-usr-img"></span>
            </div>
            <div class="col-md-7" *ngIf="userDetails.isLoggedIn">
                <span (click)="toggleLogModal();$event.stopPropagation();" class="float-right pt-2">
                    <img class="cb-icon icon-image-arrow" src="assets/Icons/Icons-09.svg" width="22px" height="20px" />
                </span>
                <span *ngIf="userDetails.isLoggedIn" class="float-right position-relative mr-3">
                    <p class="cb-welcome-txt">Welcome</p>
                    <p class="cb-username">{{userDetails.userData.firstName+" "+((userDetails.userData.lastName !== null) ? userDetails.userData.lastName : '')}}</p>
                    <!-- <p class="cb-username">Andrew Mathews</p> -->
                    <div class="cb-login-modal" *ngIf="showLogModal">
                        <div class="row py-2 px-3">
                            <div class="col-md-12 cb-separator pb-2">
                                <div class="cb-role">
                                    <div class="row">
                                        <div class="col-md-4 pr-0">System Role:</div>
                                        <div class="col-md-8 px-0">&nbsp;{{userDetails.userData.userCategory}}</div>
                                    </div>
                                </div>
                                <div class="cb-role">{{userDetails.userData.emailId}}</div>
                            </div>
                            <div class="col-md-12 position-relative">
                                <img src="assets/Icons/log.svg" (click)="triggerLogOut(); $event.stopPropagation();" class="cb-log-icon" alt="">
                                <div (click)="triggerLogOut(); $event.stopPropagation();" class="cb-logout text-center py-1">Logout</div>
                            </div>
                        </div>
                    </div>
                </span>
                <span class="cb-icon-image-circle float-right position-relative mr-3">
                    <img class="cb-profile-icon" src="assets/Icons/profile.svg" width="33px" height="30px" />
                </span>

            </div>
        </div>
    </div>
</div>