$flex : flex;
$body-min-width:1024px;
$body-max-width:1920px;

//$medium-modal-width: 450px;
$medium-modal-width: 36%;
$medium-modal-max-width: 690px;

$small-modal-width: 31%;
$small-modal-max-width: 460px;

$status-modal-width: 46%;
$status-modal-max-width: 740px;

// @function paddingTopVal() {
//  @return calc(#{$height-title-bar} + #{$height-nav-bar});
// }

//colors

$body-bg:#F7F9FA;
$theme-white: #FFFFFF;
$theme-gray: #E8E7E7;
$theme-light-gray: #ECEEEF;
$theme-dark-gray: #707070;
$theme-min-gray:#EAEAEA;
$theme-shaded-gray: #F1EFEF;
$theme-light-blue-min: #2167AE;
$theme-light-blue-max: #2167AD;
$theme-dark-blue: #23366F;
$theme-red:#dc3545;
$shadow-dark: #00000014;
$shadow-light-dark: #00000029;
$theme-disabled: #e5e5e5;
$theme-logout: #ECEEED;
$overlay:rgba(0,0,0,0.2);







    
    
