@import 'variables';

.cb-claims-tag-container{
    width:25%;
}

.cb-toggle-search{
    cursor: pointer;
}

.cb-search-circle{
    display: inline-block;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 1px solid $theme-dark-gray;
}

.cb-up-icon{
    position: absolute;
    height: 18px;
    width: 18px;
    left: 8px;
    top: 7px;
}

.cb-down-icon{
    position: absolute;
    height: 18px;
    width: 18px;
    left: 8px;
    top: 9px;
}

.cb-sbu{
    margin-left: 5%;
}

.cb-gross{
    margin-right: 2%;
}

.cb-claims-label{
    color:$theme-dark-blue;
    font-size: 15px;
    font-weight: bold;
    padding-right: 5px;
}

.cb-claims-value{
    font-size: 15px;
    color:$theme-dark-gray;
}

.cb-border-none{
    border-top: none;
}

.cb-drop-icon{
    position: absolute;
    width: 12px;
    height: 12px;
    top: 40%;
    right: 12%;
    cursor: pointer;
}

.cb-filter-tag{
    position: absolute;
    top: 68%;
    left: 68%;
    width: 150px;
    font-size: 14px;
    background: $theme-white 0% 0% no-repeat padding-box;
    border: 1px solid $theme-dark-blue;
    border-radius: 0px 0px 8px 8px;
    z-index: 999; 
}

.cb-filter-item{
    padding: 4%;
    font-weight: bold;
    font-size: 15px;
    color:$theme-dark-gray;
    cursor: pointer;
}

.cb-selected-filter{
    background: $theme-dark-blue;
    color: $theme-white;
}

.cb-global-claims{
    min-height: 40px;
}

.cb-no-search{
    height: 250px;
    text-align: center;
    vertical-align: middle;
    background: $theme-min-gray;
    box-shadow: 0px 3px 6px $shadow-light-dark;
}

.cb-search-text{
    font-size: 16px;
    margin-top: 8%;
    font-weight: bold;
    color:$theme-dark-blue;
}

@media only screen and (min-width: 1561px) and (max-width: 1860px){
    .cb-no-search{
        height: 320px;
    }

    .cb-search-text{
        margin-top: 6%;
    }
}

@media only screen and (min-width: 1861px){

    .cb-no-search{
        height: 350px;
    }

    .cb-search-text{
        margin-top: 6%;
    }
}