@import 'variables';

.cb-bc-home{
    font-size: 16px;
    color: $theme-dark-blue;
    cursor: pointer;
}

.cb-bc-link{
    font-size: 16px;
    font-weight: bold;
    color: $theme-dark-blue;
    cursor: pointer;
}