/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
@import 'variables';

body{
    font-size: 14px;
}

.layout-wrapper {
    min-width:$body-min-width;
    max-width: $body-max-width;
    margin: 0 auto;
    padding: 0;
    background: $body-bg;
    min-height: 650px;
}

.cb-container{
    padding: 0 20px;
    min-height: 470px;
    // background: $theme-white 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px $shadow-dark;
    border-radius: 0px 0px 8px 8px;
}

ul{
    list-style: none;
}

table > thead > tr{
    background: $theme-dark-blue;
    th{
        color: $theme-light-gray;
        font-size: 15px;
        font-weight: bold;
    }
}

.table th {
    padding: 1rem 0.45rem;
    vertical-align: top;
}

.cb-user-table th {
    padding: 1rem 0.6rem;
}

.cb-claims-table th {
    padding: 1rem 0.25rem;
}

.table td {
    padding: 1.1rem 0.75rem;
    vertical-align: top;
    border-top: 1px solid $theme-gray;
}

.cb-claims-table td {
    padding: 1rem 0.25rem;
    vertical-align: middle;
}

table th:first-child{
    border-radius:6px 0 0 0;
}
  
table th:last-child{
    border-radius:0 6px 0 0;
}

.table thead th {
    border-right: 0;
    vertical-align: middle;
}

table {
    background: $theme-white;
    tbody{
        box-shadow: 0px 3px 6px $shadow-dark;
        color: $theme-dark-gray;
        font-size: 14px;
        tr:last-child{
            td:first-child{
                border-radius:0 0 0 6px;
            }
            td:last-child{
                border-radius:0 0 6px 0;
            }
        }
    }
}

input:focus, input:active{
    outline: none;
    box-shadow: none;
}

input[type=text] {
    width: 100%;
    border: 1px solid $theme-dark-gray;
    border-radius: 8px;
    height: 40px;
    padding: 0 5px;
    color:$theme-dark-gray;
}

input:disabled, input:read-only{
    background: $theme-disabled;
}

input.cb-date:read-only{
    background: $theme-white;
}

.cb-select{
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color:$theme-dark-gray;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid $theme-dark-gray;
    border-radius: 8px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

// select:active {
//     border-bottom-left-radius: 0;
//     border-bottom-right-radius: 0;    
// }

select:active, select:focus{
    outline: none;
}

label{
    display: inline-block;
    margin-bottom: 0.35rem;
    font-weight: bold;
    color: $theme-dark-gray;
}

.cb-validation-err{
    color:$theme-red;
    font-size: 12px;
    padding-left: 3px;
}

.cb-required:after { 
    content:"*";
    color:$theme-red;
 }

.cb-reset-link{
    position: absolute;
    left: 12px;
    font-size: 16px;
    color: $theme-dark-blue;
    cursor: pointer;
}

.page-item{
    margin: 0 5px;
    border-radius: 6px;
}

.page-item .page-link {
    color: $theme-dark-blue;
    background: $theme-white;
    border-color: $theme-gray;
    border-radius: 6px;
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 14px;
    outline: none;
    box-shadow: none;
}

.page-item.active .page-link{
    border-color: $theme-dark-blue;
    background: $theme-dark-blue 0% 0% no-repeat padding-box;
    color: $theme-light-gray;
}

.page-item.disabled .page-link{
    color:$theme-gray;
    border-color: $theme-gray;
}

.cb-btn{
    font-size: 14px;
    font-weight: bold;
    border-radius: 8px;
    box-shadow: none;
    padding: 0.54rem 2.2rem;
}

.cb-btn-small{
    font-size: 14px;
    font-weight: normal;
    border-radius: 8px;
    box-shadow: none;
    padding: 0.24rem 1.2rem;
}
.cb-btn-micro {
    font-size: 12px;
    font-weight: bold;
    border-radius: 8px;
    box-shadow: none;
    padding: 0.25rem 0.6rem;
}

.cb-btn-large{
    border-radius: 8px;
    padding: 0.45rem 1.2rem;
    box-shadow: none;
}

.cb-btn:hover, .cb-btn:focus, .cb-btn-large:hover, .cb-btn-large:focus, .cb-btn-small:hover, .cb-btn-small:focus, .cb-btn-micro:hover, .cb-btn-micro:focus{
    outline: none;
    box-shadow: none;
}

.cb-btn-primary{
    background: $theme-light-blue-max 0% 0% no-repeat padding-box;
    border: 1px solid $theme-light-blue-max;
    color: $theme-light-gray;
}

.cb-btn-primary:hover, .cb-btn-primary:focus{
    color: $theme-light-gray;
}

.cb-btn-secondary{
    background: $theme-dark-blue 0% 0% no-repeat padding-box;
    // border: 1px solid $theme-dark-blue;
    color: $theme-white;
}

.cb-btn-secondary:hover, .cb-btn-secondary:focus{
    color: $theme-white;
}

.cb-btn-light{
    background: $theme-white 0% 0% no-repeat padding-box;
    border: 1px solid $theme-dark-gray;    
    color: $theme-dark-gray;
}

.cb-btn-light:hover, .cb-btn-light:focus{
    color: $theme-dark-gray;
}

.cb-heading{
    font-size: 34px;
    font-weight: normal;
    color: $theme-light-blue-min;
}

.cb-page-display{
    font-size: 16px;
    color:$theme-dark-gray;
}

.modal-backdrop{
    background: $theme-dark-gray 0% 0% no-repeat padding-box;
    border: 1px solid $theme-dark-gray;
    opacity: 0.5;
}

.modal-header {
    padding: 0.7rem 1rem;
}

.modal-content{
    border: 1px solid $theme-dark-blue;
    border-radius: 8px;
}

.cb-manage-treaty .modal-dialog {
    width: $medium-modal-width;
    max-width: $medium-modal-max-width;
}

.cb-confirm-modal .modal-dialog {
    width: $small-modal-width;
    max-width: $small-modal-max-width;
}

.cb-status-modal .modal-dialog {
    width: $status-modal-width;
    max-width: $status-modal-max-width;
}

.cb-manage-user .modal-dialog {
    width: $medium-modal-width;
    max-width: $medium-modal-max-width;
}

.cb-modal-title{
    font-size: 22px;
    color: $theme-dark-blue;
}

.cb-modal-close{
    font-size: 32px;
    color: $theme-dark-blue;
}

.cb-label{
    font-size: 16px;
    color: $theme-dark-gray;
    height: 40px;
    line-height: 40px;
}

.cb-calendar-icon{
    position: absolute;
    top: 10px;
    right: 5px;
    width: 20px;
    height: 20px;
}

.cb-date-cross-icon{
    position: absolute;
    top: 15px;
    right: 30px;
    width: 12px;
    height: 12px;
}

.cb-plus-icon{
    width: 20px;
    height: 20px;
    margin-top: -2px;
  }
  .cb-edit-icon{
    width:22px; 
    height: 22px;
    cursor: pointer;
  }
  
  .cb-delete-icon{
    width:19px; 
    height: 19px;
    cursor: pointer;
  }
  
  .cb-filter-icon{
    position: absolute;
    height: 15px;
    width: 15px;
    right: 6px;
    top: 13px;
    cursor: pointer;
  }

.cb-icon{
    cursor: pointer;
}
.cb-icon:hover{
    filter: invert(16%) sepia(88%) saturate(902%) hue-rotate(200deg) brightness(72%) contrast(112%);
}

button.cb-no-border, button.cb-no-border:active, button.cb-no-border:focus, button.close, button.close:active, button.close:focus{
    border: none;
    outline: none;
}

//Overriding

@function marginRight($value) {
    $initial: 0;
    @return $initial - $value;
  }

.effective-date .myDpSelectorAbsolute, .exp-date .myDpSelectorAbsolute{
    left: marginRight(38) * 1% !important;
}

.ng-mydp .myDpSelectorAbsolute{
    border-radius: 8px;
}

.myDpIconLeftArrow, .myDpIconRightArrow {
    color:$theme-dark-blue !important;
}

th.myDpWeekDayTitle{
    padding: 8px 2px;
    color: #FFFFFF;
}

//overriding ends

.cb-claims-list .cb-treaty-list input[type="checkbox"], .cb-treaty-list input[type="checkbox"] {
    width: 1.3em;
    height: 1.3em;
    border-radius: 3px;

    &::before {
        top: 0px;
        left: 4px;
        width: 7px;
        height: 12px;
      }

      &:checked {
        border-color: $theme-dark-blue;
      }
}

.cb-claims-list input[type="checkbox"] {
    width: 1.4em;
    height: 1.4em;
    border-radius: 4px;

    &::before {
        top: 0px;
        left: 5px;
        width: 8px;
        height: 13px;
      }

    &:checked {
        border-color: $theme-white;
      }
}


input[type="checkbox"] {
  position: relative;
  background: $theme-white;
  border: 1px solid $theme-dark-gray;
  appearance: none;
  outline: 0;
  cursor: pointer;

  &::before {
    position: absolute;
    content: '';
    display: block;
    border-style: solid;
    border-color: $theme-white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    opacity: 0;
  }

  &:checked {
    color: $theme-white;
    background: $theme-dark-blue;
    &::before {
      opacity: 1;
    }
  }
}

input[type="checkbox"]:disabled {
    background: $theme-disabled;
}

input[type="checkbox"]:checked:disabled {
    background: $theme-dark-blue;
}


//media queries - start

/*
1366x768
1920x1080 
1536x864 
1440x900 
1280x720 
*/
@media only screen and (min-width: 1536px) and (max-width: 1920px) {
    table > thead {
        background: $theme-dark-blue;
    }

    table > thead > tr th {
        font-size: 16px;
    }
    table tbody{
        font-size: 16px;
    } 

    input[type=text] {
        font-size: 16px;
    }
    
    input[type=email] {
        font-size: 16px;
    }

    .cb-edit-icon{
        width:24px; 
        height: 24px;
      }
      
      .cb-delete-icon{
        width:20px; 
        height: 20px;
      }
}

@media only screen and (min-width: 1921px){
    table > thead {
        background: $theme-dark-blue;
    }

    table > thead > tr th {
        font-size: 17px;
    }
    table tbody{
        font-size: 18px;
    } 

    input[type=text] {
        font-size: 18px;
    }

    input[type=email] {
        font-size: 18px;
    }

    .cb-edit-icon{
        width:25px; 
        height: 25px;
      }
      
      .cb-delete-icon{
        width:22px; 
        height: 22px;
      }
      
      .cb-search-title{
          font-size: 17px;
      }

    .cb-claims-list input[type="checkbox"] {
    
        &::before {
            top: 1px !important;
            left: 5px !important;
            width: 8px !important;
            height: 12px !important;
        }
    }

    .cb-claims-list .cb-row-check input[type="checkbox"] {
    
        &::before {
            top: 2px !important;
            left: 7px !important;
        }
    }
}

@media(min-height:900px) and (max-height:1100px)
{
         .cb-container{
           min-height:650px;
         }
      
}

@media(min-height:1101px)
{
         .cb-container{
           min-height:700px;
         }
      
}
