<div class="modal-header">
    <div class="py-3"></div>
</div>
<div class="modal-body cb-status-content">
    <div class="row mt-1">
        <div class="col-12 text-center">
            <img src='assets/Icons/{{confirmModalLabels.icon}}.svg' class="cb-status-icon" alt="">
        </div>
        <div class="col-12 text-center cb-status">
            <p class="cb-status-title">{{confirmModalLabels.title}}</p>
        </div>
        <div class="col-12 my-2 text-center">
            <p class="cb-status-txt">{{confirmModalLabels.msg}}</p>
        </div>
    </div>

</div>